{
</br>    "machine": {
</br>        "10.201.27.13": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.198.19": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.209.36": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.226.24": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.254.25": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.195.32": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.168.20": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.163.40": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.202.52": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.201.34.36": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.165.33": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.170.14": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.199.35": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.167.15": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.252.56": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.199.12": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.201.63.29": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.254.36": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.167.20": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.163.35": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.163.38": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.223.51": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.202.24": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.182.38": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.165.42": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.201.37.54": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.194.53": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.202.194.52": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }, 
</br>        "10.201.44.50": {
</br>            "control_node": {
</br>                "heartbeat": "available"
</br>            }
</br>        }
</br>    }
</br>}
</br>